{% extends 'app_d/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    <h1>Detail page</h1>
    <h2>Director: {{data.director_name}} {{data.director_surname}}</h2>
    <h3>Movies:</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th></th>
        </tr>
        {% for x in data.movie_set.all %}
            <tr>
                <td>{{x.film_name}}</td>
                <td>{{x.country}}</td>
                <td><a href="{% url 'edit_movie_page' m_id=x.pk %}">EDIT</a>  </td>
            </tr>
            {% endfor %}
    </table>
</body>
</html>
{% endblock %}