{% extends 'app_d/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Director:</h1>
    {% for x in data %}
        <li>
            {{x.director_name}} {{x.director_surname}}
            <a href="{% url 'edit_page' %}" >Edit</a>
            <a href="" >Delete</a>

        </li>
        
    {% endfor %}
</body>
</html>
{% endblock %}